<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if page_title %}
      HTMX Blog :: {{ page_title }}
    {% else %}
      HTMX Blog
    {% endif %}
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <header id="masthead">
    <h1><a href="/">HTMX Microblog</a></h1>
  </header>
  <section id="page">
    <main>
      {% block content %}{% endblock %}
    </main>
  </section>
  <div id="alert">
    <button hx-on:click="alert('Hello from HTMX!')">Say Hello</button>
  </div>
  <script src="/static/js/main.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
</body>
</html>
